$font-stack:  'Arial','Helvetica','sans-serif';
$font-size: 16px;
$body-bg: #F3F3F4;
// Basic Colors
$default-color: #CCCCCC; // Default color
$primary-color: #337AB7; // #0081C6;  // Primary color
$info-color: #1CC09F; // Info color
$success-color: #5CB85C; // Success color
$warning-color: #F0AD4E; // Warrning color
$danger-color: #D9534F; // Danger color
$cts-color: #0033A0;
// Various colors
$text-color: #676A6C;
// Border Color
$border-color: #E7E7E7;
$label-text-color: #333333;
$header-title-color: #FFFFFF;
$font-black-color: #000000;

///Defining Font Size
$base-font-size           : 16px;
$font-size-smallIcon      : ceil(($base-font-size * 0.56)); /// ~9px
$font-size-xsmall         : ceil(($base-font-size * 0.75)); /// ~12px
$font-size-small          : ceil(($base-font-size * 1.0)); /// ~16px
$font-size-smallHeads     : ceil(($base-font-size * 1.12)); /// ~18px
$font-size-medsmall       : ceil(($base-font-size * 1.25)); /// ~20px
$font-size-medium         : ceil(($base-font-size * 1.37)); /// ~22px
$font-size-medLarge       : ceil(($base-font-size * 1.50)); /// ~24px
$font-size-large          : ceil(($base-font-size * 1.62)); /// ~26px
$font-size-xlarge         : ceil(($base-font-size * 1.87)); /// ~30px
$font-size-xxlarge        : ceil(($base-font-size * 2.12)); /// ~34px
$font-size-xxxlarge       : ceil(($base-font-size * 2.5)); /// ~40px
// Defining Line Height
$line-height-base:        1.2; // 20/16
